<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/masterlayout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage/index.css}"/>
    <title>HSR(home)</title>
</head>
<body>
<th:block layout:fragment="content">
    <h3>Hotel Smart Reservation</h3>
    <hr/>
    <h5>Body part</h5>
</th:block>

<th:block layout:fragment="footer">1000N 4th Stree, Fairfield, Iowa 52557, USA</th:block>
</body>
</html>