<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/masterlayout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/products/index.css}"/>
    <title>HSR>>Event</title>
</head>
<body>
<th:block layout:fragment="content">
    <h3 > "I believe that if life gives you lemons, you should make lemonade...
        <br>And try to find somebody whose life has given them vodka, and have a party.
        <br><b>&nbsp;&nbsp;&nbsp;Ron White</b></h3>
    <div>
        <img alt="event1 image" th:src="@{/images/event1.jpg}">
    </div>
</th:block>

<th:block layout:fragment="footer">1000N 4th Stree, Fairfield, Iowa 52557, USA</th:block>

</body>

</html>